<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <Pinger.Properties.Settings>
            <setting name="z_server" serializeAs="String">
                <value>10.2.0.16</value>
            </setting>
        </Pinger.Properties.Settings>
    </userSettings>
</configuration>